<template>
  <div class="about text-center">
    <h1>This is an about page</h1>
    <br/>
    <h5>MAIZAL<v-icon size="18">mdi-corn</v-icon> is:
      <br/>+Cristobal Rojas
      <br/>+Enrique Tawara
      <br/>+Matias Ricarte
    </h5>
    <br/>
    <v-avatar tile class="mr-10" color="grey darken-1" size="256">
                <v-img :src="logo"></v-img>
    </v-avatar>
  </div>
</template>
<script>
export default {
  name: 'IndexNavBar',
        data: () => ({
            logo: null,
        }),
        created () {
            this.logo = require('@/assets/busca.png');
        }
}
</script>
