<template>
    <v-main class="grey lighten-3">
    <v-container fluid>
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                cols="2"
            >
            </v-col>
            <v-col
                cols=3
                align="end"
            >
                <v-card>
                    <v-img
                        :src="img"
                        height="20em"
                    />
                    <v-card-title>{{ info.Name }}</v-card-title>
                    <v-card-text>
                        <div class="my-4 subtitle-1">
                            Manufacturer: {{ info.Manufacturer }}
                        </div>
                        <div>Category: {{ info.Category }}</div>
                        <div>Part #: {{ info['Part #'] }}</div>
                    </v-card-text>
                    <v-divider/>
                    <v-card-actions>
                        <v-btn
                            color="deep-purple lighten-2"
                            text
                            @click="addToList"
                        >
                            Add Part
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col>
                <v-alert type="info">
                    <v-row align="center">
                        <v-col class="grow">
                            You can find links to buy this item here:
                        </v-col>
                        <v-col class="shrink">
                            <v-btn :href="`${info.Link}`">See More</v-btn>
                        </v-col>
                    </v-row>
                </v-alert>
                <v-card  class="mx-auto">
                    <v-card-text>
                        <template v-for="(value, key) in info">
                            <template v-if="dontRepeat(key)">
                                <div :key="`${ key }`">{{ key }}: {{ value }}</div>
                            </template>

                        </template>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col
                cols="2"
            >
            </v-col>
        </v-row>

    </v-container>
    </v-main>
</template>
<script>
/*
**  las lineas comentadas, solo tienen sentido una vez que este el server de fondo
*/
import Wrapper from '../services/Wrapper.js'
export default {

    data () {
        return {
            hardcoded: ["Name", "Manufacturer", "Part #", "Category", "_id", "Link"],
            info: null,
            img: null,
            dict: null,
        }
    },
    async created () {
        console.log(window.location.href);
        var url = window.location.href.split("/");
        this.info = await Wrapper.GetComponentById(url[url.length -1]);
        console.log(this.info);
        this.img = this.pickImage(this.info.Category);
        this.prepopulate();
    },
    methods: {
        prepopulate() {
            this.hardcoded.forEach(function(word, i) {this.dist[word] = i;})
        },
        dontRepeat(title) {
            return (this.hardcoded.indexOf(title) < 0);
        },
        pickImage(category) {
                let img = require('@/assets/undefined.png');
                console.log(category);
                switch (category) {
                    case 'Power Supply':
                        img = require('@/assets/psu.png');
                        break;
                    case 'Video Card':
                        img = require('@/assets/gpu.png');
                        break;
                    case 'CPU':
                        img = require('@/assets/cpu.png');
                        break;
                    case 'Storage':
                        img = require('@/assets/storage.png');
                        break;
                    case 'Memory':
                        img = require('@/assets/memory.png');
                        break;
                    case 'Motherboard':
                        img = require('@/assets/motherboard.png');
                        break;
                    case 'CPU Cooler':
                        img = require('@/assets/cpucooler.png');
                        break;
                    case 'Case':
                        img = require('@/assets/case.png');
                        break;
                }
                return img;
            },
            addToList() {
                    switch(this.info.Category){
                        case "CPU":
                            Wrapper.storage.cpu = this.info._id;
                            break;
                        case "CPU Cooler":
                            Wrapper.storage.cpucooler = this.info._id;
                            break;
                        case "Case":
                            Wrapper.storage.case = this.info._id;
                            break;
                        case "Memory":
                            Wrapper.storage.memory = this.info._id;
                            break;    
                        case "Motherboard":
                            Wrapper.storage.motherboard = this.info._id;
                            break;  
                        case "Power Supply":
                            Wrapper.storage.powersupply = this.info._id;
                            break;  
                        case "Storage":
                            Wrapper.storage.storage = this.info._id;
                            break;  
                        case "Video Card":
                            Wrapper.storage.videocard = this.info._id;
                            break;  
                        default:
                            console.log('oh no!');
                            break;
                    }
                this.$router.push('/builder');
            }
    },
}
</script>