<template>
    <v-main class="grey lighten-3">
        <v-container>
            <v-row>
                <!-- FILTERS -->
                <v-col cols="3">
                    <v-sheet rounded="lg">
                        <div class="text-center py-2">FILTERS</div>
                        <v-list color="transparent">
                            <v-subheader>Categories</v-subheader>
                            <v-radio-group v-model="categorySelected" column>
                                <template v-for="(cat, index) in categories">
                                    <v-radio :label="cat" color="orange darken-3" :value="cat" :key="index" class="mx-3"
                                        @click="filterSearch"></v-radio>
                                </template>
                            </v-radio-group>
                        </v-list>
                        <v-divider class="my-2"></v-divider>
                        <!--
                        <v-list color="transparent">
                            <v-subheader>Average energy usage (TDP W)</v-subheader>
                            <v-range-slider v-model="rangeTDP" :max="maxTDP" :min="minTDP" hide-details
                                thumb-label="always" thumb-color="orange darken-3" class="align-center pt-5 mx-3"
                                @click="filterSearch">
                            </v-range-slider>

                        </v-list>-->
                        <v-template v-if="categorySelected == 'CPU'">
                            <v-select v-model="selectedCPUManufacturer" hint="Manufacturer" 
                                      :items="cpuManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedCPUintegratedGraphics" hint="Integrated Graphics" 
                                      :items="integratedGraphicsOptions" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-template v-if="categorySelected == 'Video Card'">
                            <v-select v-model="selectedGPUManufacturer" hint="Manufacturer" 
                                      :items="gpuManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedGPUInterface" hint="Interface" 
                                      :items="gpuInterfaces" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-template v-if="categorySelected == 'Memory'">
                            <v-select v-model="selectedMemoryManufacturer" hint="Manufacturer" 
                                      :items="memoryManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedMemoryRegisteredStatus" hint="ECC / Registered" 
                                      :items="memoryRegisteredStatus" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-template v-if="categorySelected == 'Storage'">
                            <v-select v-model="selectedStorageManufacturer" hint="Manufacturer" 
                                      :items="storageManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedStorageFormFactor" hint="Form Factor" 
                                      :items="storageFormFactors" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-template v-if="categorySelected == 'Motherboard'">
                            <v-select v-model="selectedMotherboardManufacturer" hint="Manufacturer" 
                                      :items="motherboardManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedMotherboardMemorySlot" hint="Memory Slots" 
                                      :items="motherboardMemorySlots" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-template v-if="categorySelected == 'CPU Cooler'">
                            <v-select v-model="selectedCPUCoolerManufacturer" hint="Manufacturer" 
                                      :items="cpuCoolerManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedCPUCoolerFanRPM" hint="Fan RPM" 
                                      :items="cpuCoolerFanRPMs" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-template v-if="categorySelected == 'Case'">
                            <v-select v-model="selectedCaseManufacturer" hint="Manufacturer" 
                                      :items="caseManufacturers" class="mx-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                            <v-select v-model="selectedCaseType" hint="Type" 
                                      :items="caseTypes" class="mx-4 mb-4"
                                      label="Select" persistent-hint return-object single-line
                                      @change="filterSearch"></v-select>
                        </v-template>
                        <v-divider class="my-2"></v-divider>
                    </v-sheet>
                </v-col>

                <!-- RESULTS -->
                <v-col>
                    <v-sheet class="py-auto mb-2">
                        <v-row class="mx-auto">
                            <v-col cols="6">
                                <v-select v-model="selectSortBy" hint="Sort by" :items="sortByItems" item-text="shown"
                                    item-value="internal" label="Select" persistent-hint return-object single-line
                                    @change="filterSearch"></v-select>
                            </v-col>
                            <v-col cols="6">
                                <v-select v-model="selectOrderBy" hint="Order by" :items="orderByItems"
                                    item-text="shown" item-value="internal" label="Select" persistent-hint return-object
                                    single-line @change="filterSearch"></v-select>
                            </v-col>
                        </v-row>


                    </v-sheet>

                    <v-sheet min-height="70vh" rounded="lg">
                        <v-list three-line>
                            <v-list-item-group v-model="selectedItem" color="primary">
                                <template v-for="(item, index) in items">

                                    <v-list-item :key="item.title" @click="goToComponentInfo(item._id)">
                                        <v-list-item-avatar>
                                            <v-img :src="lookUpTable[index]"></v-img>
                                        </v-list-item-avatar>

                                        <v-list-item-content>
                                            <v-list-item-title v-html="item.Name"></v-list-item-title>
                                            <v-list-item-subtitle v-html="item.Manufacturer"></v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>

                                    <v-divider :key="item._id" />
                                </template>
                            </v-list-item-group>
                        </v-list>

                        <!--  -->
                    </v-sheet>
                    <div class="text-center">
                        <v-pagination v-model="page" :length="maxpage" :total-visible="7" @input="nextPage">
                        </v-pagination>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</template>
<script>
    import Wrapper from '../services/Wrapper.js'
    export default {
        data: () => ({
            //TDP (Watts) range vars
            minTDP: 20,
            maxTDP: 2000,
            rangeTDP: [20, 2000],
            //category/type of component
            categorySelected: 'CPU',
            categories: ['CPU', 'Video Card', 'Memory', 'Storage', 'Motherboard', 'CPU Cooler', 'Case'],
            //sortBy
            selectSortBy: {
                shown: "Name",
                internal: "Name"
            },
            sortByItems: [{
                    shown: "Name",
                    internal: "Name"
                },
                {
                    shown: "Manufacturer",
                    internal: "Manufacturer"
                },
                {
                    shown: "Part Number",
                    internal: "Part #"
                }
            ],
            //orderBy
            selectOrderBy: {
                shown: "Ascending",
                internal: "true"
            },
            orderByItems: [{
                    shown: "Ascending",
                    internal: "true"
                },
                {
                    shown: "Descending",
                    internal: "false"
                }
            ],
            //pagination related
            page: 1,
            maxpage: 2,
            //CPU filters
            cpuManufacturers: ["Intel", "AMD", "Any"],
            integratedGraphicsOptions: ["None", "Any"],
            selectedCPUManufacturer :"Any",
            selectedCPUintegratedGraphics: "Any", 
            //GPU filters
            gpuManufacturers: ["Any"],
            gpuInterfaces: ["Any"],
            selectedGPUManufacturer :"Any",
            selectedGPUInterface: "Any",
            //MEMORY filters
            memoryManufacturers: ["Any"],
            memoryRegisteredStatus: ["Any"],
            selectedMemoryManufacturer :"Any",
            selectedMemoryRegisteredStatus: "Any",
            //STORAGE filters
            storageManufacturers: ["Any"],
            storageFormFactors: ["Any"],
            selectedStorageManufacturer :"Any",
            selectedStorageFormFactor: "Any",
            //MOTHERBOARD filters
            motherboardManufacturers: ["Any"],
            motherboardMemorySlots: ["Any"],
            selectedMotherboardManufacturer :"Any",
            selectedMotherboardMemorySlot: "Any",
            //CPU Cooler filters
            cpuCoolerManufacturers: ["Any"],
            cpuCoolerFanRPMs: ["Any"],
            selectedCPUCoolerManufacturer :"Any",
            selectedCPUCoolerFanRPM: "Any",
            //CPU Cooler filters
            caseManufacturers: ["Any"],
            caseTypes: ["Any"],
            selectedCaseManufacturer :"Any",
            selectedCaseType: "Any",
            //to check against when filtering results
            lastFilters: {
                rangeTDP: [20, 2000],
                categorySelected: 'CPU',
                selectOrderBy: { shown: "Ascending", internal: "true"}
            },
            selectedItem: null,
            items: [],
            //used for knowing what icons to display
            lookUpTable: [],
        }),

        async created() {
            
            this.rangeTDP[0] = this.minTDP;
            this.rangeTDP[1] = this.maxTDP;
            /*ejemplo de un fetch para CPUs con TDP con un range entre 75 y 79:
            ** pasos requeridos:
            **      fetch de /api/fields/get-values-list?filter=%7B%22Category%22%3A%20%22CPU%22%7D&field=TDP
            **para conseguir los valores posibles (el range slider tendria que tener steps o solo permitir ciertos valores...)
            **{"Category": "CPU", "TDP": { "$in": ["75 W",  "77 W",  "79 W"]}}
            */
            await this.fillGPU();
            await this.fillMemory();
            await this.fillStorage();
            await this.fillMotherboard();
            await this.fillCPUCooler();
            await this.fillCase();
            this.page = 1;
            this.saveOldFilters();
            await this.fetchPage(this.page, null, null, null);
        },

        methods: {
            async fillGPU() {
                let res1 = await Wrapper.GetManufacturers('Video Card');
                for(var idx1 in res1){
                    this.gpuManufacturers.push(res1[idx1]);
                }
                let res2 = await Wrapper.GetValues('Video Card', 'Interface');
                for(var idx2 in res2){
                    this.gpuInterfaces.push(res2[idx2]);
                }
            },
            async fillMemory() {
                let res1 = await Wrapper.GetManufacturers('Memory');
                for(var idx1 in res1){
                    this.memoryManufacturers.push(res1[idx1]);
                }
                
                let res2 = await Wrapper.GetValues('Memory', 'ECC / Registered');
                for(var idx2 in res2){
                    this.memoryRegisteredStatus.push(res2[idx2]);
                }
            },
            async fillStorage() {
                let res1 = await Wrapper.GetManufacturers('Storage');
                for(var idx1 in res1){
                    this.storageManufacturers.push(res1[idx1]);
                }
                
                let res2 = await Wrapper.GetValues('Storage', 'Form Factor');
                for(var idx2 in res2){
                    this.storageFormFactors.push(res2[idx2]);
                }

            },
            async fillMotherboard() {
                let res1 = await Wrapper.GetManufacturers('Motherboard');
                for(var idx1 in res1){
                    this.motherboardManufacturers.push(res1[idx1]);
                }
                
                let res2 = await Wrapper.GetValues('Motherboard', 'Memory Slots');
                for(var idx2 in res2){
                    this.motherboardMemorySlots.push(res2[idx2]);
                }

            },
            async fillCPUCooler() {
                let res1 = await Wrapper.GetManufacturers('CPU Cooler');
                for(var idx1 in res1){
                    this.cpuCoolerManufacturers.push(res1[idx1]);
                }
                
                let res2 = await Wrapper.GetValues('CPU Cooler', 'Fan RPM');
                for(var idx2 in res2){
                    this.cpuCoolerFanRPMs.push(res2[idx2]);
                }

            },
            async fillCase() {
                let res1 = await Wrapper.GetManufacturers('Case');
                for(var idx1 in res1){
                    this.caseManufacturers.push(res1[idx1]);
                }
                
                let res2 = await Wrapper.GetValues('Case', 'Type');
                for(var idx2 in res2){
                    this.caseTypes.push(res2[idx2]);
                }

            },
            pickImage(category) {
                let img = require('@/assets/undefined.png');
                console.log(category);
                switch (category) {
                    case 'Power Supply':
                        img = require('@/assets/psu.png');
                        break;
                    case 'Video Card':
                        img = require('@/assets/gpu.png');
                        break;
                    case 'CPU':
                        img = require('@/assets/cpu.png');
                        break;
                    case 'Storage':
                        img = require('@/assets/storage.png');
                        break;
                    case 'Memory':
                        img = require('@/assets/memory.png');
                        break;
                    case 'Motherboard':
                        img = require('@/assets/motherboard.png');
                        break;
                    case 'CPU Cooler':
                        img = require('@/assets/cpucooler.png');
                        break;
                    case 'Case':
                        img = require('@/assets/case.png');
                        break;
                }
                return img;
            },
            goToComponentInfo(item_id) {
                this.$router.push({
                    path: `/component/${item_id}`
                });
            },

            async filterSearch() {
                if (this.rangeTDP != this.lastFilters.rangeTDP 
                || this.categorySelected != this.lastFilters.categorySelected
                || this.selectSortBy != this.lastFilters.selectSortBy
                || this.selectOrderBy != this.lastFilters.selectOrderBy
                || this.selectedCPUManufacturer != this.lastFilters.selectedCPUManufacturer
                || this.selectedCPUintegratedGraphics != this.lastFilters.selectedCPUintegratedGraphics
                || this.selectedGPUManufacturer != this.lastFilters.selectedGPUManufacturer
                || this.selectedGPUInterface != this.lastFilters.selectedGPUInterface
                || this.selectedMemoryManufacturer != this.lastFilters.selectedMemoryManufacturer
                || this.selectedMemoryRegisteredStatus != this.lastFilters.selectedMemoryRegisteredStatus
                || this.selectedStorageManufacturer != this.lastFilters.selectedStorageManufacturer
                || this.selectedStorageFormFactor != this.lastFilters.selectedStorageFormFactor
                || this.selectedMotherboardManufacturer != this.lastFilters.selectedMotherboardManufacturer
                || this.selectedMotherboardMemorySlot != this.lastFilters.selectedMotherboardMemorySlot
                || this.selectedCPUCoolerManufacturer != this.lastFilters.selectedCPUCoolerManufacturer
                || this.selectedCPUCoolerFanRPM != this.lastFilters.selectedCPUCoolerFanRPM
                || this.selectedCaseManufacturer != this.lastFilters.selectedCaseManufacturer
                || this.selectedCaseType != this.lastFilters.selectedCaseType) {
                    console.log(this.categorySelected);
                    await this.fetchPage(1, this.selectSortBy.internal, this.selectOrderBy.internal, this.wrapFilters());
                    this.saveOldFilters();
                }
                console.log('ayaya!');
            },

            async nextPage() {
                await this.fetchPage(this.page, this.selectSortBy, this.selectOrderBy, this.wrapFilters());
                console.log('wololo');
            },

            wrapFilters() {
                let filter = {
                    "Category": this.categorySelected,
                };
                switch(this.categorySelected){
                    case 'CPU':
                        if(this.selectedCPUintegratedGraphics != "Any"){
                            filter["Integrated Graphics"] = this.selectedCPUintegratedGraphics;
                        }
                        if(this.selectedCPUManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedCPUManufacturer;
                        }
                        break;
                    case 'Video Card':
                        if(this.selectedGPUManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedGPUManufacturer;
                        }
                        if(this.selectedGPUInterface != "Any"){
                            filter["Interface"] = this.selectedGPUInterface;
                        }
                        break;
                    case 'Memory':
                        if(this.selectedMemoryManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedMemoryManufacturer;
                        }
                        if(this.selectedMemoryRegisteredStatus!= "Any"){
                            filter["ECC / Registered"] = this.selectedMemoryRegisteredStatus;
                        }
                        break;
                    case 'Storage':
                        if(this.selectedStorageManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedStorageManufacturer;
                        }
                        if(this.selectedStorageFormFactor!= "Any"){
                            filter["Form Factor"] = this.selectedStorageFormFactor;
                        }
                        break;
                    case 'Motherboard':
                        if(this.selectedMotherboardManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedMotherboardManufacturer;
                        }
                        if(this.selectedMotherboardMemorySlot!= "Any"){
                            filter["Memory Slots"] = this.selectedMotherboardMemorySlot;
                        }
                        break;
                    case 'CPU Cooler':
                        if(this.selectedCPUCoolerManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedCPUCoolerManufacturer;
                        }
                        if(this.selectedCPUCoolerFanRPM!= "Any"){
                            filter["Fan RPM"] = this.selectedCPUCoolerFanRPM;
                        }
                        break;
                    case 'Case':
                        if(this.selectedCaseManufacturer != "Any"){
                            filter["Manufacturer"] = this.selectedCaseManufacturer;
                        }
                        if(this.selectedCaseType!= "Any"){
                            filter["Type"] = this.selectedCaseType;
                        }
                        break;
                    default:
                        break;
                }
                return filter;
            },

            saveOldFilters() {
                this.lastFilters.categorySelected = this.categorySelected;
                this.lastFilters.rangeTDP = this.rangeTDP;
                this.lastFilters.selectOrderBy = this.selectOrderBy;
                this.lastFilters.selectSortBy = this.selectSortBy;
                this.lastFilters.selectedCPUintegratedGraphics = this.selectedCPUintegratedGraphics;
                this.lastFilters.selectedCPUManufacturer = this.selectedCPUManufacturer;
                this.lastFilters.selectedGPUManufacturer = this.selectedGPUManufacturer;
                this.lastFilters.selectedGPUInterface = this.selectedGPUInterface;
                this.lastFilters.selectedMemoryManufacturer = this.selectedMemoryManufacturer;
                this.lastFilters.selectedMemoryRegisteredStatus = this.selectedMemoryRegisteredStatus;
                this.lastFilters.selectedStorageFormFactor = this.selectedStorageFormFactor;
                this.lastFilters.selectedStorageManufacturer = this.selectedStorageManufacturer;
                this.lastFilters.selectedCPUCoolerManufacturer = this.selectedCPUCoolerManufacturer;
                this.lastFilters.selectedCPUCoolerFanRPM = this.selectedCPUCoolerFanRPM;
                //TO DO
            },

            async fetchPage(pagenumber, sortBy, orderBy, filters) {
                this.items = [];
                var response = await Wrapper.GetComponents(pagenumber, sortBy, orderBy, filters);
                var components = response.result;
                this.maxpage = response.header.last;

                //var components = await Wrapper.GetComponents(pagenumber, filters);
                for (var c in components) {
                    this.items.push(components[c]);
                }

                this.lookUpTable = [];
                for (var item in this.items) {
                    this.lookUpTable.push(this.pickImage(this.items[item].Category));
                }
            }
        }
    }
</script>