<template>
    <v-main class="grey lighten-3">
        <v-dialog v-model="dialog" persistent width="300">
            <v-card color="primary" dark>
                <v-card-text>
                    Please stand by
                    <v-progress-linear
                        indeterminate color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-container>
            <v-row  align="center" justify="center">
                <v-btn color="error" large depressed @click="reset">
                    Reset Build                            
                </v-btn>
            </v-row>
            <v-row>
                <v-col>
                    <v-sheet  rounded="lg">
                        <v-list three-line>
                            <v-list-item-group v-model="selectedItem" color="primary">
                                <template v-for="(item, index) in items">

                                    <v-list-item :key="item.title" @click="goToComponentInfo(item._id)">
                                        <v-list-item-avatar>
                                            <v-img :src="lookUpTable[index]"></v-img>
                                        </v-list-item-avatar>

                                        <v-list-item-content>
                                            <v-list-item-title v-html="item.Name"></v-list-item-title>
                                            <v-list-item-subtitle v-html="item.Manufacturer"></v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>

                                    <v-divider :key="item._id" />
                                </template>
                                 <template v-for="item in undefinedItems">

                                    <v-list-item :key="item">
                                        <v-list-item-content>
                                            <v-list-item-title v-html="item"></v-list-item-title>
                                            <v-list-item-subtitle v-html="item.Manufacturer"></v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-btn :disabled="dialog" :loading="dialog"
                                            dark color="amber darken-1" @click="getCompatibles(item)">
                                            Recommend me a {{ item }}
                                        </v-btn>
                                    </v-list-item>

                                    <v-divider :key="item._id" />
                                </template>
                            </v-list-item-group>
                        </v-list>
                    </v-sheet>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</template>
<script>
    import Wrapper from '../services/Wrapper.js'
    export default {
        data: () => ({
            dialog: false,
            selectedItem: null,
            //fill up list with info of items added to the system builder
            items: [],
            //used for knowing what icons to display
            lookUpTable: [],
            pickedItems: [],
            undefinedItems: [],
            idTable: [],
        }),

        async created() {
            await this.loadUpItems();
        },

        methods: {
            async loadUpItems() {
                this.items = [];
                for(var stored in Wrapper.storage){
                    if(Wrapper.storage[stored] != undefined && Wrapper.storage[stored]  != 0){
                        this.idTable.push(Wrapper.storage[stored] );
                        await this.fetchItem(Wrapper.storage[stored] );
                    }
                }
                console.log(Wrapper.storage);
                this.lookUpTable = [];
                for (var item in this.items) {
                    this.lookUpTable.push(this.pickImage(this.items[item].Category));
                }

                this.fillUpUndefinedItems();
            },

            fillUpUndefinedItems() {
                this.undefinedItems =  Wrapper.acceptedCategories.filter(x => !this.pickedItems.includes(x));
            },

            async fetchItem(item_id) {
                var response = await Wrapper.GetComponentById(item_id);
                this.items.push(response);
                this.pickedItems.push(response.Category);
            },

            pickImage(category) {
                let img = require('@/assets/undefined.png');
                console.log(category);
                switch (category) {
                    case 'Power Supply':
                        img = require('@/assets/psu.png');
                        break;
                    case 'Video Card':
                        img = require('@/assets/gpu.png');
                        break;
                    case 'CPU':
                        img = require('@/assets/cpu.png');
                        break;
                    case 'Storage':
                        img = require('@/assets/storage.png');
                        break;
                    case 'Memory':
                        img = require('@/assets/memory.png');
                        break;
                    case 'Motherboard':
                        img = require('@/assets/motherboard.png');
                        break;
                    case 'CPU Cooler':
                        img = require('@/assets/cpucooler.png');
                        break;
                    case 'Case':
                        img = require('@/assets/case.png');
                        break;
                }
                return img;
            },
            goToComponentInfo(item_id) {
                this.$router.push({
                    path: `/component/${item_id}`
                });
            },

            reset() {
                for(var idx in Wrapper.storage){
                    Wrapper.storage[idx] = 0;
                }
                
                this.$router.go();
                return false;
            },

            async getCompatibles(category) {
                this.dialog=true;
                if(this.idTable.length > 0){
                    let list = await Wrapper.GetCompatibleWithId(this.idTable, category, 'ALL');
                    //ideally we weould use the ANY and other options, but becuase of the environment in which this demo is running
                    //we will use the ALL.
                    //console.log(list);
                    //list.sort((a,b) => (a.count > b.count) ? 1 :((b.count > a.count) ? -1 : 0));
                    this.$router.push({
                        path: `/component/${list[0]._id}`
                    });
                }else{
                    this.$router.push('/');
                }
                

            },

            async fetchPage(pagenumber, sortBy, orderBy, filters) {
                this.items = [];
                var response = await Wrapper.GetComponents(pagenumber, sortBy, orderBy, filters);
                var components = response.result;

                //var components = await Wrapper.GetComponents(pagenumber, filters);
                for (var c in components) {
                    this.items.push(components[c]);
                }

                this.lookUpTable = [];
                for (var item in this.items) {
                    this.lookUpTable.push(this.pickImage(this.items[item].Category));
                }
            }
        }
    }
</script>