<template>
  <v-footer
    id="footer"
    color="white"
    flat
  >
    <v-container>
      <v-row
        align="center"
        no-gutters
      >
        <v-btn
          v-for="(link, key) in links"
          :key="key"
          text
          :href="link.href"
        >
          {{ link.text }}
        </v-btn>

        <v-spacer></v-spacer>

        <v-col
          cols="12"
          md="auto"
        >
          <div class="body-1 font-weight-light pt-6 pt-md-0 text-center">
            &copy; 2020, made with
            <v-icon size="18">
              mdi-corn
            </v-icon>
            by <a href="/#/about">Maizal</a> for a demonstration.
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
  export default {
    name: 'IndexFooter',

    data: () => ({
      links: [
        {
          href: '#',
          text: 'Maizal',
        },
        {
          href: '/#/about',
          text: 'About Us',
        },
        {
          href: '#',
          text: 'Blog',
        },
        {
          href: '#',
          text: 'Licenses',
        },
      ],
    }),
  }
</script>