<template>
    <v-app-bar app color="white" flat min-height="72">
        <v-container class="py-1 fill-height">
            <v-avatar tile class="mr-10" color="grey darken-1" size="64">
                <v-img :src="logo"></v-img>
            </v-avatar>

            <v-toolbar-title id="fonttt">BuscaPiezas.com</v-toolbar-title>


            <v-btn v-for="(link,key) in links" :key="key" :href="link.href" text>
                {{ link.text }}
            </v-btn>

            <v-spacer></v-spacer>

            <v-avatar class="mr-10" color="grey darken-1" size="36">
                <v-img :src="profile"></v-img>
            </v-avatar>
        </v-container>
    </v-app-bar>
</template>
<script>
    export default {
        name: 'IndexNavBar',
        data: () => ({
            logo: null,
            profile: null,
            links: [{
                    href: '/',
                    text: 'Browse Components',
                },
                {
                    href: '/#/builder',
                    text: 'System Builder',
                },
                {
                    href: '/#/about',
                    text: 'Blog',
                },
            ],
        }),
        created () {
            this.profile = require('@/assets/bad-flag.gif');
            this.logo = require('@/assets/busca.png');
        }
    }
</script>

<style lang="sass">
    #fonttt
        font-weight: 500
</style>