<template>
  <v-content>
    <router-view />

    <index-footer />
  </v-content>
</template>

<script>
  export default {
    name: 'IndexView',

    components: {
      IndexFooter: () => import('./Footer'),
    },
  }
</script>