<template>
  <v-app>
    <index-nav-bar />
    <index-view />
  </v-app>
</template>

<script>
  export default {
    name: 'Index',

    components: {
      IndexNavBar: () => import('../../components/NavBar'),
      IndexView: () => import('../../components/View'),
    },

    data: () => ({
      expandOnHover: false,
    }),
  }
</script>